<div class="register-container">
  <div class="register-card">
    <h2>🔑 Reset Password</h2>
    <p class="tagline">Enter OTP and set a new password</p>

    <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
      <label>Email</label>
      <input type="email" [value]="email" disabled />

      <label>Enter OTP</label>
      <input
        type="text"
        formControlName="otp"
        placeholder="Enter the OTP sent to your email"
      />

      <label>New Password</label>
      <div class="password-wrapper">
        <input
          [type]="showPassword ? 'text' : 'password'"
          formControlName="newPassword"
          placeholder="Create new password"
        />
        <span class="toggle-icon" (click)="togglePasswordVisibility()">
          <i [class]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
        </span>
      </div>

      <label>Confirm Password</label>
      <div class="password-wrapper">
        <input
          [type]="showPassword ? 'text' : 'password'"
          formControlName="confirmPassword"
          placeholder="Confirm new password"
        />
        <span class="toggle-icon" (click)="togglePasswordVisibility()">
          <i [class]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
        </span>
      </div>

      <button type="submit">Reset Password</button>
    </form>
  </div>
</div>
