body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #f7fcf7, #e2f1e9);
  margin: 0;
  padding: 0;
}

.register-container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 50px;
  min-height: calc(100vh - 80px);
  background-color: #f3fdf4;
}

.register-card {
  background-color: #ffffff;
  padding: 30px 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 440px;
  border: 1px solid #dfe9e4;
  margin-top: -17px;
  height: 608px;
}

.register-card h2 {
  text-align: center;
  color: #2e8b57;
  margin-bottom: 10px;
}

.role-select {
  text-align: center;
}

.role-select label {
  font-weight: 600;
  color: #444;
  margin-right: 8px;
}

.register-card label {
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
  color: #333;
}

.register-card input,
.register-card select {
  width: 100%;
  padding: 9px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 16px;
  font-size: 14px;
  transition: border-color 0.2s;
}

.register-card input:focus,
.register-card select:focus {
  border-color: #2e8b57;
  outline: none;
  box-shadow: 0 0 4px rgba(46, 139, 87, 0.2);
}

.register-card button {
  width: 100%;
  padding: 12px;
  background-color: #2e8b57;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  font-size: 15px;
}

.register-card button:hover {
  background-color: #257247;
}

.login-link {
  text-align: center;
  margin-top: 10px;
}

.login-link a {
  color: #2e8b57;
  font-weight: bold;
  text-decoration: none;
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: 100%;
  padding: 9px 38px 9px 10px; /* space for the icon */
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 16px;
  font-size: 14px;
  box-sizing: border-box;
}

.toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 16px;
}
